parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - "#beforeTraverse\\(\\) should be compatible with return type#"
        - "#enterNode\\(\\) should#"
